@model IEnumerable<DonicaBiler.Models.Models.Car>
<div class="hero">
    <div class="video-background">
        <video autoplay loop muted playsinline id="myVideo">
            <source src="~/videos/header-Video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <h1>Find bilen her</h1>
    </div>
</div>
<partial name="_Statistic" model="Model" />
<div class="car-listing-section">
    <div class="container">
        <h2 class="text-center my-4">NYESTE BILER PÅ LAGER</h2>
        <partial name="_CarList" model="Model" />
    </div>
</div>
   




