@model IEnumerable<DonicaBiler.Models.Models.Car>
<div class="hero">
    <div class="video-background">
        <video autoplay loop muted playsinline id="myVideo">
            <source src="~/videos/header-Video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <h1>Find bilen her</h1>
    </div>
</div>
<partial name="_Statistic" model="Model" />
<div class="car-listing-section">
    <div class="container">
        <h2 class="text-center my-4">NYESTE BILER PÅ LAGER</h2>
        <partial name="_CarList" model="Model" />
    </div>
</div>

<div class="exclusive-section">
    <div class="content">
        <h2>Bilforhandler med fokus på dig</h2>
        <p>Hos Donica Biler gør vi vores bedste for at du skal føle dig i fokus. Vi ved hvor vigtigt et køb af en ny bil er, og vi går derfor gerne det ekstra skridt for at du forlader os, tilfreds og med et smil på læben – gerne en bil rigere.</p>
        <a href="#" class="btn btn-primary">Læs mere</a>
    </div>
</div>


<div class="samePartner">
    <h1 class="text-center">Samarbejdspartnere</h1>
    <div class="container">
        <ul class="partner-list">
            <li>
                <img src="~/assets/autoconcept.png" alt="AutoConcept" />
            </li>
            <li>
                <img src="~/assets/codan.png" alt="Codan" />
            </li>
            <li>
                <img src="~/assets/cargarantie.png" alt="CarGarantie" />
            </li>
            <li>
                <img src="~/assets/topdanmark_logo_final_rgb.png" alt="Topdanmark" />
            </li>
        </ul>
    </div>
</div>






   




