<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <!-- Logo and opening hours at the top -->
            <div class="row justify-content-center mb-3">
                <div class="col-md-6 text-center">
                    <h1>Donica Biler</h1>
                </div>
            </div>

            <!-- Contact info and opening hours columns -->
            <div class="row">
                <div class="col-md-4">
                    <h5>FREDERICIA</h5>
                    <p>SALGSKONTOR, SHOWROOM</p>
                    <p>Houstedgårdsvej 42<br>7000 Fredericia<br>Tel: 26 78 88 89<br>Email: <a href="mailto:info@donicabiler.dk" class="text-white">info@donicabiler.dk</a></p>
                </div>
                <div class="col-md-6">
                    <h5>ÅBNINGSTIDER</h5>
                    <p>Mandag - Fredag: 10.00 - 17.00</p>
                    <p>Lørdag - Søndag: 10.00 - 17.00</p>
                </div>
                <div class="col-md-2 social-icons">
                    <div>
                        <a href="https://www.facebook.com/yourpage" class="social-icon facebook" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/yourusername" class="social-icon instagram" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.tiktok.com/" class="social-icon tiktok" aria-label="TikTok">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Centered navigation bar -->
            <div class="row">
                <div class="col-12">
                    <nav class="nav justify-content-center">
                        <a class="nav-link" href="#">BILER</a>
                        <a class="nav-link" href="#">SAMARBEJDSPARTNERE</a>
                        <a class="nav-link" href="#">FINANSIERING</a>
                        <a class="nav-link" href="#">HVORFOR DONICA?</a>
                        <a class="nav-link" href="#">KONTAKT</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
