<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonicaBiler</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/car-listing.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/statistic.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />


</head>
<body>
    <header>
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                <h2>DONICABILER</h2>
            </a>
        </div>
        <div class="navigation">    
            <ul class="nav-menu">
                <li >
                    <a  asp-controller="Car" asp-action="Index">Biler</a>
                </li>
                <li >
                    <a asp-controller="Home" asp-action="Privacy">Samarbejdspartnere</a>
                </li>
                <li >
                    <a  asp-controller="Home" asp-action="Index">Finansiering</a>
                </li>
                <li >
                    <a asp-controller="Home" asp-action="Index">Hvorfor Donica?</a>
                </li>
                <li >
                    <a asp-controller="Home" asp-action="Index">Kontakt</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_Footer" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <Script>
        $(document).ready(function () {
            $(window).on('scroll', function () {
                var gap = 50;
                if ($(window).scrollTop() > gap) {
                    $('header').addClass('active header-active');
                    $('header').css('background-color', '#ffffff'); // Solid color on scroll
                } else {
                    $('header').removeClass('active header-active');
                    $('header').css('background-color', 'transparent'); // Transparent when not scrolled
                }
            });
        });
    </Script>

</body>
</html>
