<div class="info-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 info-column">
                <a href="#" class="info-link">
                    <p class="info-title">I DAG HOLDER VI</p>
                    <p class="info-time">ÅBENT TIL KL 17.00</p>
                    <p class="info-small">ÅBNINGSTIDER</p>
                </a>
            </div>
            <div class="col-md-2 info-column">
                <a href="#" class="info-link">
                    <p class="info-number">67</p>
                    <p class="info-label">Elbiler på Lager</p>
                </a>
            </div>
            <div class="col-md-2 info-column">
                <a href="#" class="info-link">
                    <p class="info-number">11</p>
                    <p class="info-label">Mercedes på Lager</p>
                </a>
            </div>
            <div class="col-md-2 info-column">
                <a href="#" class="info-link">
                    <p class="info-number">26</p>
                    <p class="info-label">Audi på Lager</p>
                </a>
            </div>
            <div class="col-md-2 info-column">
                <a href="#" class="info-link">
                    <p class="info-number">29</p>
                    <p class="info-label">BMW på Lager</p>
                </a>
            </div>
            <div class="col-md-1 info-column">
                <a href="#" class="info-link">
                    <p class="info-number">+100</p>
                    <p class="info-label">Biler til Import</p>
                </a>
            </div>
        </div>
    </div>
</div>
